* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Helvetica";
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1250px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://raw.githubusercontent.com/Yose4Web/progate.github.io/main/hands-up.jpg);
    background-size: cover;
    color: white;
    text-align: left;
    animation-delay: 2s;
    animation-direction: normal;
  }
  
  .top-wrapper h1 {
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }
  
  .top-wrapper p {
    margin-bottom: 3px;
  }
  
  .btn-wrapper {
    text-align: left;
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .tiket {
    background-color: white;
  }
  
  .btn{
    border: 2px solid white;
    padding: 12px 24px;
    color: black;
    display: inline-block;
    border-radius: 25px;
    text-align: center;
  }
  
  .btn:hover {
    opacity: 0.7;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    width: 124px;
    margin-top: 10px;
  }
  
  .header-left {
    float: left;
  }

  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: rgb(0, 0, 0);
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .footer-container{
    background-color: #131313;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: left;
    margin-top: auto;
    clear: both;
  }

.text-right{
  width: 100%;
  padding: 0 15px;
  margin-left: 40px;
  margin-left: 20px;
  color: white;
}

.link a{
  color: rgb(201, 204, 207);
  text-align: left;
}

.link a:hover{
    color: #5e91b4;
    transition: 0.2s ease-in-out;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.website-rights{
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding-left: 35px;
}

.footer-link-wrapper{
  width: 100%;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: right;
  box-sizing: border-box;
  padding-right: 35px;
}



@media all and (max-width: 1000px) {
    .top-wrapper h1 {
      font-size: 32px;
    }
    
    .heading h2 {
      font-size: 20px;
    }
  }
  
@media all and (max-width: 670px) {
  footer {
    text-align: center;
  }
  
  .btn {
    width: 100%;
  }
  
  .top-wrapper {
    text-align: left;
  }
  
  .header-right{
    display: none;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
}
